.event-details-container {
  width: 80%;
  background-color: #fff8e6;
  text-align: center;
  padding: 20px;
  height: auto; /* Adjust height to content */
  margin: 20px auto; /* Center the card horizontally */
  border-radius: 12px; /* Rounded corners for a card-like feel */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.event-details-container h1 {
  font-size: 50px;
  margin: 20px 10px;
}

.details-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.event-image {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin: 0 20px;
}

.event-details h4 {
  font-size: 30px;
  color: #319281;
  margin-bottom: 10px;
}

.event-date,
.event-time {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.event-description {
  font-size: 18px;
  color: #b27057;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.reserve-button {
  background-color: #000;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.reserve-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.reserve-button:hover {
  background-color: #333;
}

.event-info {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.event-info i {
  margin-right: 8px;
  font-size: 25px;
}

.time-date-container {
  display: flex;

  gap: 8px;
  margin-top: 10px;
}
