body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background-color: transparent;
  padding: 3rem;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.auth-card h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f6e8d7;
}

.input-box {
  background-color: #f6e8d7;
  padding: 2rem;
  border-radius: 10px;
}

.auth-input-wrapper {
  margin-bottom: 1rem;
}

.auth-input-wrapper input,
button {
  width: 100%;
  max-width: 300px; /* Ensure the same max width for consistency */
  padding: 12px;
  margin: 0 auto; /* Center the element */
  display: block; /* Ensure block-level display */
  border-radius: 5px;
  border: none;
  background-color: #8f8e8e4d;
  font-size: 1rem;
  box-sizing: border-box; /* Include padding and border in element's total width */
}

button {
  background-color: #f1c46a;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Add some space between the last input and the button */
}

button:hover {
  background-color: #f89406;
}
