body {
  margin: 0;
  background-color: #af1c5d;
}

.EventHeader h1 {
  background-color: #f1c46a;
  padding: 30px;
  margin: 0px 50px 25px 50px;
  margin-top: 80px;
  text-align: center;
  font-family: "Akaya Kanadaka", system-ui;
  font-style: normal;
  font-size: 60px;
  color: #67182e;
  border-radius: 7px;
}

.Months {
  background-color: #b27057;
  padding: 20px;
  margin: 0px 15pc 50px 15pc;
  border-radius: 7px;
  text-align: center;
}

.MonthsName {
  background-color: transparent;
  margin: 0px 20px 0px 20px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  overflow: hidden;
  color: white;
  font-family: "Akaya Kanadaka", system-ui;
}
.MonthsName:hover {
  color: #67182e;
  font-size: 35px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  float: left;
  margin: 10px;
  padding: 0;
}
li {
  display: inline;
  padding-right: 20px;
}
